
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/
/reporting-labs/
/allure-results
/allure-report
# Environment files
config/.env.*
# OS
.Ds_Store
reporting-labs.history.json